[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
alembic = "*"
pytest = "*"
httpx = "*"
bump-pydantic = "*"
pre-commit = "*"
python-jose = "*"
python-multipart = "*"
jinja = "*"
jinja2 = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
